.hoadon-menu_top{
	width: 100%;
	height: 50px;
	background-color: #EEEEEE;
	align-items: center;
	display: flex;
}
body{
	margin: 0;
	padding:0;
}

.hoadon-content table{
	margin-top:3px;
	
	width: 100%;
	border-collapse: collapse;
	/* height: 600px; */
	max-height: 600px;
}

.hoadon-content table thead{
	background-color: #666666;
	height: 60px;
	color:rgb(255, 255, 255);
}

.hoadon-content .showList{
	height: calc(100vh - 84px);
	border: 0.5px solid black;
}

.hoadon-content tbody tr{
	height: 50px;
}

tr:nth-child(even) {
	background-color: #DDDDDD; /* Đặt màu nền của các dòng số lẻ thành màu đỏ */
}

.hoadon-content tbody tr button{
	border: none;
    background: none;
	padding:0;
	margin-right: 8px;
}

.hoadon-content i{
	font-size:28px;
}

.hoadon-content .btn-add{
	border: 0.5px solid black;
	right: 0;
	position: absolute;
	height: 30px;
	width: 200px;
	margin-right: 5px;
	background-color:aquamarine;
}

.hoadon-content{
	/* border: 0.5px solid black; */
	margin:3px;
}
