body{
	margin: 0;
	font-family: 'Open Sans', sans-serif; /* Font chữ mặc định */
	overflow-x: hidden;
}

.wrapper{
	display: flex;
}

a{
	text-decoration: none;
}

.sidebar a{
	color:white;
	white-space: nowrap;
}

.sidebar li{
	list-style-type: none;
	margin:15px 0;
	padding-top: 10px;
}

.sidebar{
	width: 50px;
	z-index: 1;
	min-height:100vh;
	padding: 2px;
	overflow: hidden;
	background-color: #222;
	color:white;
	transition: width .75s ease;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0,5);
	position: fixed;
}

.sidebar:hover{
	width: 210px;
}

.bottom p{
	position:absolute;
	bottom: 0;
}

.content{
	margin-left: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height:100vh;
	background-color:aliceblue;
	transition: margin-left .75s ease;
	width: 100%;
}


.content .box{
	color:black;
	display: block;
	padding: 5px;
	width: 210px;
	height: 94px;
	border: 1px solid black;
	margin: 10px 35px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	transition: width .3s ease, height .3s ease;
}

.content .box:hover{
	width: 260px;
	height: 110px;
}

.box1{
	background-color: rgba(255, 68, 68, 0.5);
}

.box2{
	background-color: rgba(68, 255, 102, 0.5);
}

.box3{
	background-color: rgba(101, 104, 242, 0.5);
}

.box4{
	background-color: rgba(230, 255, 68, 0.5);
}

.detail-box{
	background-color: darkgrey;
}

.content .top{
	display: flex;
	justify-content: center;
}

.title-box{
	font:25px bold;
	margin-bottom:5px;
}

.box-content{
	position:absolute;
	margin:0;
	bottom: 0;
  	right: 10px;
	font-size: 60px;
}

.content .center{
	margin:10px;
	width: 1200px;
	height: 500px;
	border: 2px solid black;
	border-radius: 10px;
}

.line{
	width: 100%; /* Chiều rộng của hr bằng 100% của container */
	height: 1px; /* Chiều cao của hr */
	background-color: black; /* Màu nền của hr */
}

.content.expanded {
	margin-left: 210px; /* Khi sidebar mở rộng, điều chỉnh margin-left của content */
	width: calc(100% - 210px); /* Điều chỉnh chiều rộng của content để phù hợp với chiều rộng mới của sidebar */
  }
