body{
	margin: 0;
	font-family: 'Open Sans', sans-serif; /* Font chữ mặc định */
	overflow-x: hidden;
}

.wrapper{
	display: flex;
}

a{
	text-decoration: none;
}

.sidebar a{
	color:white;
	white-space: nowrap;
}

.sidebar li{
	list-style-type: none;
	margin:15px 0;
	margin-left:-30px;
	padding-top: 10px;
	
}
.sidebar i{
	width:40px;
    height: 40px;	
}
.sidebar{
	width: 50px;
	z-index: 1;
	min-height:100vh;
	padding: 2px;
	overflow: hidden;
	background-color: #222;
	color:white;
	transition: width .75s ease;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0,5);
	position: fixed;
}

.sidebar:hover{
	width: 210px;
}

.bottom p{
	position:absolute;
	bottom: 0;
}

.sidebar-icon{
	width: 30px;
	height: 40px;
	font-size:32px;
	margin-right: 16px;
}

.content{
    padding: 0 10px;
	margin-left: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height:100vh;
	background-color:#EEEEEE;
	transition: all .75s ease;
	width: 100%;
}


.content .box{
	color:black;
	display: block;
	padding: 5px;
	width: 210px;
	height: 94px;
	border: 1px solid black;
	margin: 10px 35px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	transition: width .3s ease, height .3s ease;
}

.content .box:hover{
	width: 260px;
	height: 110px;
}

.box1{
	background-color: rgba(255, 68, 68, 0.5);
}

.box2{
	background-color: rgba(68, 255, 102, 0.5);
}

.box3{
	background-color: rgba(101, 104, 242, 0.5);
}

.box4{
	background-color: rgba(230, 255, 68, 0.5);
}

.detail-box{
	background-color: darkgrey;
}

.content .top{
	display: flex;
	justify-content: center;
}

.title-box{
	font:25px bold;
	margin-bottom:5px;
}

.box-content{
	position:absolute;
	margin:0;
	bottom: 0;
  	right: 10px;
	font-size: 60px;
}



.line{
	width: 100%; /* Chiều rộng của hr bằng 100% của container */
	height: 1px; /* Chiều cao của hr */
	background-color: black; /* Màu nền của hr */
}

.content.expanded {
	margin-left: 210px; /* Khi sidebar mở rộng, điều chỉnh margin-left của content */
	width: calc(100% - 210px); /* Điều chỉnh chiều rộng của content để phù hợp với chiều rộng mới của sidebar */
  }

.content .center{
	width: 100%;
	height: 200vh;
	display: grid;
	grid-template-columns:2fr 1fr; /* Hai cột: cột 1 chiếm 2 phần, cột 2 chiếm 1 phần */
	grid-auto-rows: 600px ;/* Chiều cao mặc định của mỗi hàng */
}

.table-list{
	margin:5px;
	height: 400px;
	border:0.4px solid black;
	max-height: 400px;
	overflow-y: auto;
	padding-top: 10px;
}
  
  .boxex {
	margin:10px;
	border: 0.3px solid black;
	text-align: center;
	border-radius: 2px;
	background-color: white;
	/* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
    position: relative;
	overflow: hidden;
  }

  .content .bottom{
	height: 470px;
	margin-top: -150px;
	width: 100%;
	display: grid;
	grid-template-columns:1fr 1fr; /* Hai cột: cột 1 chiếm 2 phần, cột 2 chiếm 1 phần */
	grid-auto-rows: 600px ;/* Chiều cao mặc định của mỗi hàng */
}

.chart-box{
	height: 450px;
}

.table_view{
	border-collapse: collapse;
	width: 100%;
	height: 10px;
	margin-top:-10px;
	position: relative;  /* Đặt chiều cao tối đa của table */
    overflow-y: auto;
}

.txtSearch{
    width:400px;
    height:30px;
}

tbody tr:hover {
    background-color: rgb(159, 206, 183,0.5);
}

.table_view tbody tr {
	border-bottom: 1px solid black;
    height:30px;	
}

.table_view thead{
	background-color:grey;
	color:white;
}
.table_view tbody{
	border-collapse: collapse; /* Loại bỏ khoảng trống giữa các ô */
	max-height: 30px;
}

	
#myDonutChart{
	max-width: 500px; /* Thiết lập chiều rộng tối đa */
    max-height: 500px; /* Thiết lập chiều cao tối đa */
    position:absolute;
    top:35%;
    left:68%;
    transform: translate(-50%, -50%);
}


.hoadon-menu_top{
	width: 100%;
	height: 50px;
	background-color: #BBBBBB;
	align-items: center;
	display: flex;
}

.hoadon-content table{
	margin-top:3px;
	width: 100%;
	border-collapse: collapse;
	/* height: 600px; */
	max-height: 600px;
}

.hoadon-content table thead{
	background-color: #666666;
	height: 60px;
	color:rgb(255, 255, 255);
}

.hoadon-content .showList{
	height: calc(100vh - 84px);
	border: 0.5px solid black;
}

.hoadon-content tbody tr{
	height: 50px;
}

.hoadon-content tbody .action:hover{
	font-size: 35px;
    cursor: pointer;
}

tr:nth-child(even) {
	background-color: #DDDDDD; /* Đặt màu nền của các dòng số lẻ thành màu đỏ */
}

.hoadon-content tbody tr button{
	border: none;
    background: none;
	padding:0;
	margin-right: 8px;
}

.hoadon-content i{
	font-size:28px;
}

.hoadon-content .btn-add{
	border: 0.5px solid black;
	right: 0;
	position: absolute;
	height: 36px;
	width: 200px;
	margin-right: 10px;
    border-radius: 10px;
    transition: all 0.75;
	background-color:aquamarine;
}

.hoadon-content .btn-add:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.Top-table{
    max-height: 100%;
    overflow-y: auto;
    
}

.Top-content{
    height:485px;
    max-height: 485px;
    overflow-y: auto;
}

.hoadon-content{
	/* border: 0.5px solid black; */
	margin:3px;
    width: 100%;
}

.thongbao {
    z-index: 1;
    width:400px;
    height:70px;
    display:flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px #0ebaec;
    position: fixed;
    top: 20px;
    right: -500px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s;
}

.process{
    height: 70px;
    border-left: 5px solid aqua;
    top:0;
    left: 0;
    position: absolute;
    transition: all 0.2s;
}

.thongbao .circle .material-symbols-outlined{
    padding: 0px 10px;
    font-size: 20px;
    color: #0ebaec;
}

.thongbao .circle{
    width: 40px;
    height: 40px;
    border: 2px solid #0ebaec;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.model {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: rgba(0,0,0,0.4);
    z-index: 0;
    
}


.model.show{
    display:block;
    z-index: 0;
}

.model-click{
    display: flex; /* Sử dụng flexbox để căn chỉnh phần header */
    justify-content: flex-end;
    font-size: 32px;
    color:red;
    height: 30px;
}

.model-click span{
    cursor:pointer;
}

.model-content,.model-content-detail .model-top{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 10px;
}

.model-content .action-model{
    transition:all 0.5s ease;
}

.model-content .action-model:hover{
    width: 200px;
    height: 30px;
}

.update{
    width: 50% !important;
}

.model-content {
    background-color: #fefefe;
    margin: 1% auto 0;
    padding: 20px;
    border: 20px solid #473f3f;
    width: 80% !important;
    height: 80% !important;
    border-radius:10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.model-content-detail {
    background-color: #fefefe;
    margin: 5% auto 0;
    padding: 20px;
    border: 20px solid #473f3f;
    width: 80% !important;
    height: 70% !important;
    border-radius:10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.model-table{
    height: 280px;
    border: 1px solid black;
    border-top: none;
}

.model .form-input{
    display:flex;
    width: 100%;
}

.half {
    flex:1;
    text-align: center;
    align-items: center;
}

.model-btn-add{
    width:150px;
    background-color: #666666;
    border: 0.5px solid black;
    height:25px;
    border-radius:10px;
    color:white;
}

td{
    text-align: center;
    font:bold;
    font-size: 20px;
}

.model-content td{
        text-align: center;
        font:bold;
        font-size: 15px;
}

.model .choise{
    display:flex;
    margin-bottom: 6px;
    justify-content: space-between;
}

.model .model-choise{
    width:200px;
    height:25px;
}

.model-center .table-detail{ /* Chiều cao cố định cho tbody */
    max-height: 100%; /* Sử dụng chiều cao tối đa có thể từ model-center */
    overflow-y: auto;
}


.model-center { /* Chiều cao cố định cho tbody */
    height:300px;
    max-height: 300px;
    overflow-y: auto;
    border:0.5px solid black;
    border-top:none;
}

strong em {
    font-size: 25px;
}

.model-center tbody tr{
    height: 40px;
}

#export-pdf{
    background-color: #888888;
    width: 100px;
    height: 30px;
    margin-top:20px;
    right:0;
    border:none;
    color: white;
    border-radius: 10px;
    transition: all 0.5 ease;
    right:0;
}

#export-pdf:hover{
    background-color: #777777;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}






/*Nhan*/
.main-content{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    background-color: rgb(241, 243, 244); 
}
.quanly-top-content{
    position: relative;
    width: 100%;
    height: 8%;
    margin-top: 0;
}
.title{
    font-size: 32px;
    text-align: left;
    line-height: 250%;
    margin-left: 50px;
}
.search-input{
    position: absolute;
    width: 15%;
    line-height: 200%;
    height: 30px;
    top: 20px;
    right: 8%;
}
#one .btn-add{
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    line-height: 200%;
    text-align: center;
    top : 20px;
    right: 25%;
    width: 150px;
    height: 35px;
    color: white;
    background-color: #6ec2f7;
    border-radius: 20px;
    border: solid 1px #6ec2f7;
    cursor: pointer;
}
.btn-quick-search{
    position: absolute;
    width: 35px;
    height: 25px;
    top: 30px;
    right: 5%;
    color: white;
    background-color: #6ec2f7;
    border-radius: 5px;
    border: solid 1px #6ec2f7;
    cursor: pointer;
}
.quanly-center-content{
    position: relative;
    display: flex;
    width: 100%;
    align-items:flex-end;
    width: 100%;
    height: 100px;
    margin-top: 0;
}
.text-search{
    font-weight: 550;
}
.search-addres{
    position: absolute;
    right: 110px;
    bottom: 5px;
}
.search-price{
    position: absolute;
    right: 110px;
    bottom: 5px;
}
.search-sdt{
    position: absolute;
    right: 380px;
    bottom: 5px;
}
.search-gender{
    position: absolute;
    right: 380px;
    bottom: 7px;
}
.search-state{
    position: absolute;
    right: 370px;
    bottom: 5px;
}
.search-permission{
    position: absolute;
    right: 120px;
    bottom: 5px;
}
.icon-list{
    line-height: 200%;
    margin-left: 30px;
    background-color:#EEEEEE;
    border: solid 1px #EEEEEE;
    cursor: pointer;
}
.btn-search{
    position: absolute;
    right: 50px;
    bottom: 5px; 
    color: white;
    background-color: #6ec2f7;
    border-radius: 5px;
    border: solid 1px #6ec2f7;
    cursor: pointer;
}
.quanly-bot-content{
    position: relative;
    width: 100%;
    height: 80%;
}
#one-table{
    position: relative;
    width: 97%;
    height: 550px;
    margin: auto;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0px;
    display: block;
    overflow: auto;

}
#one-table th{
    width: 25%;
    position: sticky;
    top: 0px;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: #6ec2f7;
}
#one-table td,th{
    border: solid rgb(241, 243, 244) 2px;
    padding: 10px;
    text-align: center;
}
.modal-add{
    display: none;
    position: relative;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 110%;
	background-color:aliceblue;
    background-color: rgba(0, 0, 0, 0.4);
}
.view-info{
    display: flex;
    position: relative;
    position: absolute;
    width: 40%;
    height: 500px;
    top: 2%;
    left: 30%;
    background-color:white;
	border-radius: 10px;
}
.exit-view-info{
    position: absolute;
    margin-right: 0;
    right: 0;
    font-weight: 700;
    height: 30px;
    width: 35px;
    background-color: rgb(255, 80, 80);
    color: white;
    background-color: #6ec2f7;
    text-align: center;
    line-height: 180%;
    font-size: 18px; 
    cursor: pointer;
}
.info{
    position: absolute;
    top: 5%;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
ul,li{
    list-style: none;
}
.text-info{
    position: absolute;
    top: 5%;
    height: 70%;
    width: 30%;
    font-size: 18px;
    line-height: 230%;
}
.input-info{
    position: absolute;
    left: 25%;
    top: 5%;
    width: 90%;
    height: 50%;
    font-size: 100%;
    line-height: 260%;
}
.li{
    font-size: 120%;
}
.error{
    position: absolute;
    display: block;
    width: 100%;
    color: red;
    font-size: 12px;
    margin-top: 0;
    line-height: 0%;
    left: 10%;
}
.btn-xacnhan{
    position: absolute;
    bottom: 70px;
	left: 225px;
    width: 120px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 250%;
    border-radius: 5px;
    background-color: #6ec2f7;
    border-radius: 20px;
    border: 1 solid #6ec2f7;
    cursor: pointer;
}
.view-xacnhan{
    position: relative;
    display: none;
    position: absolute;
    width: 300px;
    height: 100px;
    top: 250px;
    right: 560px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}
.text-xacnhan{
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}
.bnt-select{
    width: 50px;
    margin-left: 70px;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    background-color: black;
}
#btn-back{
    position: absolute;
    right: 50px;
    top:38px;
    width: 60px;
    height: 23px;
    line-height: 130%;
    text-align: center;
    cursor: pointer;
}
.icon-option{
    cursor: pointer;
    width: 25px;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    border: #222 1px solid;
    margin-left: 10px;
}
.xacnhan-delete{
    position: relative;
    display: none;
    position: absolute;
    width: 300px;
    height: 100px;
    top: 200px;
    right: 600px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}
.modal-edit{
    display: none;
    position: relative;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 110%;
	background-color:aliceblue;
    background-color: rgba(0, 0, 0, 0.4);
}
.view-info-product{
    display: flex;
    position: relative;
    position: absolute;
    width: 55%;
    height: 500px;
    top: 2%;
    left: 20%;
    background-color:white;
	border-radius: 10px;
}
.info-product{
    position: absolute;
    left: 35%;
    top:5%;
    display: flex;
    position: relative;
    width: 55%;
    height: 100%;
}
.info-img-product{
    top:0%;
    position: absolute;
    width: 40%;
    height: 100%;
}
.img-product{
    margin-top: 60px;
    margin-left: 40px;
    width: 210px;
    height: 280px;

}
.img-pro-edit{
    color: white;
    margin-top: 10px;
    margin-left: 100px;
}
  

  
  
  

  
  
  