body{
	margin: 0;
	font-family: 'Open Sans', sans-serif; /* Font chữ mặc định */
	overflow-x: hidden;
}

.wrapper{
	display: flex;
}

a{
	text-decoration: none;
}

.sidebar a{
	color:white;
	white-space: nowrap;
}

.sidebar li{
	list-style-type: none;
	margin:15px 0;
	margin-left:-30px;
	padding-top: 10px;
	
}
.sidebar i{
	width:40px;
    height: 40px;	
}
.sidebar{
	width: 50px;
	z-index: 1;
	min-height:100vh;
	padding: 2px;
	overflow: hidden;
	background-color: #222;
	color:white;
	transition: width .75s ease;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0,5);
	position: fixed;
}

.sidebar:hover{
	width: 210px;
}

.bottom p{
	position:absolute;
	bottom: 0;
}

.sidebar-icon{
	width: 30px;
	height: 40px;
	font-size:32px;
	margin-right: 16px;
}

.content{
    padding: 0 10px;
	margin-left: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height:100vh;
	background-color:#EEEEEE;
	transition: all .75s ease;
	width: 100%;
}


.content .box{
	color:black;
	display: block;
	padding: 5px;
	width: 210px;
	height: 94px;
	border: 1px solid black;
	margin: 10px 35px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	transition: width .3s ease, height .3s ease;
}

.content .box:hover{
	width: 260px;
	height: 110px;
}

.box1{
	background-color: rgba(255, 68, 68, 0.5);
}

.box2{
	background-color: rgba(68, 255, 102, 0.5);
}

.box3{
	background-color: rgba(101, 104, 242, 0.5);
}

.box4{
	background-color: rgba(230, 255, 68, 0.5);
}

.detail-box{
	background-color: darkgrey;
}

.content .top{
	display: flex;
	justify-content: center;
}

.title-box{
	font:25px bold;
	margin-bottom:5px;
}

.box-content{
	position:absolute;
	margin:0;
	bottom: 0;
  	right: 10px;
	font-size: 60px;
}



.line{
	width: 100%; /* Chiều rộng của hr bằng 100% của container */
	height: 1px; /* Chiều cao của hr */
	background-color: black; /* Màu nền của hr */
}

.content.expanded {
	margin-left: 210px; /* Khi sidebar mở rộng, điều chỉnh margin-left của content */
	width: calc(100% - 210px); /* Điều chỉnh chiều rộng của content để phù hợp với chiều rộng mới của sidebar */
  }

.content .center{
	width: 100%;
	height: 200vh;
	display: grid;
	grid-template-columns:2fr 1fr; /* Hai cột: cột 1 chiếm 2 phần, cột 2 chiếm 1 phần */
	grid-auto-rows: 600px ;/* Chiều cao mặc định của mỗi hàng */
}

.table-list{
	margin:5px;
	height: 400px;
	border:0.4px solid black;
	max-height: 400px;
	overflow-y: auto;
	padding-top: 10px;
}
  
  .boxex {
	margin:10px;
	border: 0.3px solid black;
	text-align: center;
	border-radius: 2px;
	background-color: white;
	/* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); */
    position: relative;
	overflow: hidden;
  }

  .content .bottom{
	height: 470px;
	margin-top: -150px;
	width: 100%;
	display: grid;
	grid-template-columns:1fr 1fr; /* Hai cột: cột 1 chiếm 2 phần, cột 2 chiếm 1 phần */
	grid-auto-rows: 600px ;/* Chiều cao mặc định của mỗi hàng */
}

.chart-box{
	height: 450px;
}

.table_view{
	border-collapse: collapse;
	width: 100%;
	height: 10px;
	margin-top:-10px;
	position: relative;  /* Đặt chiều cao tối đa của table */
    overflow-y: auto;
}

.txtSearch{
    width:400px;
    height:30px;
}

tbody tr:hover {
    background-color: rgb(159, 206, 183,0.5);
    cursor: pointer;
}

.table_view tbody tr {
	border-bottom: 1px solid black;
    height:30px;	
}

.table_view thead{
	background-color:grey;
	color:white;
}
.table_view tbody{
	border-collapse: collapse; /* Loại bỏ khoảng trống giữa các ô */
	max-height: 30px;
}

	
#myDonutChart{
	max-width: 300px; /* Thiết lập chiều rộng tối đa */
    max-height: 300px; /* Thiết lập chiều cao tối đa */
    width: 100%; /* Thiết lập chiều rộng 100% */
    height: auto; 
}


.hoadon-menu_top{
	width: 100%;
	height: 50px;
	background-color: #BBBBBB;
	align-items: center;
	display: flex;
}

.hoadon-content table{
	margin-top:3px;
	width: 100%;
	border-collapse: collapse;
	/* height: 600px; */
	max-height: 600px;
}

.hoadon-content table thead{
	background-color: #666666;
	height: 60px;
	color:rgb(255, 255, 255);
}

.hoadon-content .showList{
	height: calc(100vh - 84px);
	border: 0.5px solid black;
}

.hoadon-content tbody tr{
	height: 50px;
}

.hoadon-content tbody .action:hover{
	font-size: 35px;
}

tr:nth-child(even) {
	background-color: #DDDDDD; /* Đặt màu nền của các dòng số lẻ thành màu đỏ */
}

.hoadon-content tbody tr button{
	border: none;
    background: none;
	padding:0;
	margin-right: 8px;
}

.hoadon-content i{
	font-size:28px;
}

.hoadon-content .btn-add{
	border: 0.5px solid black;
	right: 0;
	position: absolute;
	height: 36px;
	width: 200px;
	margin-right: 10px;
	background-color:aquamarine;
}

.hoadon-content{
	/* border: 0.5px solid black; */
	margin:3px;
    width: 100%;
}

.thongbao {
    z-index: 1;
    width:400px;
    height:70px;
    display:flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px #0ebaec;
    position: fixed;
    top: 20px;
    right: -500px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.4s;
}

.process{
    height: 70px;
    border-left: 5px solid aqua;
    top:0;
    left: 0;
    position: absolute;
    transition: all 0.2s;
}

.thongbao .circle .material-symbols-outlined{
    padding: 0px 10px;
    font-size: 20px;
    color: #0ebaec;
}

.thongbao .circle{
    width: 40px;
    height: 40px;
    border: 2px solid #0ebaec;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}



/*Nhan*/
/* .main-content{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    background-color: rgb(241, 243, 244); 
}
.top-content{
    position: relative;
    width: 100%;
    height: 8%;
    margin-top: 0;
}
.title{
    font-size: 32px;
    text-align: left;
    line-height: 250%;
    margin-left: 50px;
}
.search-input{
    position: absolute;
    width: 15%;
    line-height: 200%;
    height: 30px;
    top: 20px;
    right: 8%;
}
.btn-add{
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    line-height: 200%;
    text-align: center;
    top : 20px;
    right: 25%;
    width: 150px;
    height: 35px;
    color: white;
    background-color: #6ec2f7;
    border-radius: 20px;
    border: solid 1px #6ec2f7;
    cursor: pointer;
}
.btn-quick-search{
    position: absolute;
    width: 35px;
    height: 25px;
    top: 30px;
    right: 5%;
    color: white;
    background-color: #6ec2f7;
    border-radius: 5px;
    border: solid 1px #6ec2f7;
    cursor: pointer;
}
.center-content{
    position: relative;
    display: flex;
    width: 100%;
    align-items:flex-end;
    width: 100%;
    height: 50px;
    margin-top: 0;
}
.text-search{
    font-weight: 550;
}
.search-addres{
    position: absolute;
    right: 110px;
    bottom: 5px;
}
.search-second{
    position: absolute;
    right: 380px;
    bottom: 5px;
}
.search-gender{
    position: absolute;
    right: 600px;
    bottom: 7px;
}
.search-state{
    position: absolute;
    right: 350px;
    bottom: 5px;
}
.search-permission{
    position: absolute;
    right: 120px;
    bottom: 5px;
}
.icon-list{
    line-height: 200%;
    margin-left: 30px;
    background-color:aliceblue;
    border: solid 1px aliceblue;
    cursor: pointer;
}
.btn-search{
    position: absolute;
    right: 50px;
    bottom: 5px; 
    color: white;
    background-color: #6ec2f7;
    border-radius: 5px;
    border: solid 1px #6ec2f7;
    cursor: pointer;
}
.bot-content{
    position: relative;
    width: 100%;
    height: 80%;
}
table{
    position: relative;
    width: 97%;
    height: 550px;
    margin: auto;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0px;
    display: block;
    overflow: auto;

}
th{
    width: 25%;
    position: sticky;
    top: 0px;
    padding: 10px;
    text-align: left;
    color: white;
    background-color: #6ec2f7;
}
td,th{
    border: solid rgb(241, 243, 244) 2px;
    padding: 10px;
    text-align: left;
}
.modal-add{
    display: none;
    position: relative;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 110%;
	background-color:aliceblue;
    background-color: rgba(0, 0, 0, 0.4);
}
.view-info{
    display: flex;
    position: relative;
    position: absolute;
    width: 40%;
    height: 500px;
    top: 2%;
    left: 30%;
    background-color:white;
	border-radius: 10px;
}
.exit-view-info{
    position: absolute;
    margin-right: 0;
    right: 0;
    font-weight: 700;
    height: 30px;
    width: 35px;
    background-color: rgb(255, 80, 80);
    color: white;
    background-color: #6ec2f7;
    text-align: center;
    line-height: 180%;
    font-size: 18px; 
    cursor: pointer;
}
.info{
    position: absolute;
    top: 5%;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
ul,li{
    list-style: none;
}
.text-info{
    position: absolute;
    top: 5%;
    left: 10%;
    height: 70%;
    width: 30%;
    font-size: 18px;
    line-height: 230%;
}
.input-info{
    position: absolute;
    left: 30%;
    top: 5%;
    width: 70%;
    height: 50%;
    font-size: 100%;
    line-height: 260%;
}
.li{
    font-size: 120%;
}
.error{
    position: absolute;
    display: block;
    width: 100%;
    color: red;
    font-size: 12px;
    margin-top: 0;
    line-height: 0%;
    left: 10%;
}
.btn-xacnhan{
    position: absolute;
    bottom: 70px;
	left: 225px;
    width: 120px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 250%;
    border-radius: 5px;
    background-color: #6ec2f7;
    border-radius: 20px;
    border: 1 solid #6ec2f7;
    cursor: pointer;
}
.view-xacnhan{
    position: relative;
    display: none;
    position: absolute;
    width: 300px;
    height: 100px;
    top: 250px;
    right: 560px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}
.text-xacnhan{
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}
.bnt-select{
    width: 50px;
    margin-left: 70px;
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    background-color: black;
}
#btn-back{
    position: absolute;
    right: 50px;
    top:38px;
    width: 60px;
    height: 23px;
    line-height: 130%;
    text-align: center;
    cursor: pointer;
}
.icon-option{
    cursor: pointer;
    width: 25px;
    text-align: center;
    border-radius: 5px;
    border: #222 1px solid;
    margin-left: 10px;
}
.xacnhan-delete{
    position: relative;
    display: none;
    position: absolute;
    width: 300px;
    height: 100px;
    top: 200px;
    right: 600px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}
.modal-edit{
    display: none;
    position: relative;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 110%;
	background-color:aliceblue;
    background-color: rgba(0, 0, 0, 0.4);
}

  

  
  
  

  
  
   */

