body{
	margin: 0;
	font-family: 'Open Sans', sans-serif; /* Font chữ mặc định */
	overflow-x: hidden;
}

.wrapper{
	display: flex;
}

a{
	text-decoration: none;
}

.sidebar a{
	color:white;
	white-space: nowrap;
}

.sidebar li{
	list-style-type: none;
	margin:15px 0;
	margin-left:-30px;
	padding-top: 10px;
	
}

.sidebar{
	width: 50px;
	z-index: 1;
	min-height:100vh;
	padding: 2px;
	overflow: hidden;
	background-color: #222;
	color:white;
	transition: width .75s ease;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0,5);
	position: fixed;
}

.sidebar:hover{
	width: 210px;
}

.bottom p{
	position:absolute;
	bottom: 0;
}

.sidebar-icon{
	width: 30px;
	height: 40px;
	font-size:32px;
	margin-right: 16px;
	
}

.content{
	margin-left: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height:100vh;
	background-color:aliceblue;
	transition: margin-left .75s ease;
	width: 100%;
}


.content .box{
	color:black;
	display: block;
	padding: 5px;
	width: 210px;
	height: 94px;
	border: 1px solid black;
	margin: 10px 35px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	transition: width .3s ease, height .3s ease;
}

.content .box:hover{
	width: 260px;
	height: 110px;
}

.box1{
	background-color: rgba(255, 68, 68, 0.5);
}

.box2{
	background-color: rgba(68, 255, 102, 0.5);
}

.box3{
	background-color: rgba(101, 104, 242, 0.5);
}

.box4{
	background-color: rgba(230, 255, 68, 0.5);
}

.detail-box{
	background-color: darkgrey;
}

.content .top{
	display: flex;
	justify-content: center;
}

.title-box{
	font:25px bold;
	margin-bottom:5px;
}

.box-content{
	position:absolute;
	margin:0;
	bottom: 0;
  	right: 10px;
	font-size: 60px;
}



.line{
	width: 100%; /* Chiều rộng của hr bằng 100% của container */
	height: 1px; /* Chiều cao của hr */
	background-color: black; /* Màu nền của hr */
}

.content.expanded {
	margin-left: 210px; /* Khi sidebar mở rộng, điều chỉnh margin-left của content */
	width: calc(100% - 210px); /* Điều chỉnh chiều rộng của content để phù hợp với chiều rộng mới của sidebar */
  }

.content .center{
	width: 100%;
	height: 200vh;
	display: grid;
	grid-template-columns:2fr 1fr; /* Hai cột: cột 1 chiếm 2 phần, cột 2 chiếm 1 phần */
	grid-auto-rows: 600px ;/* Chiều cao mặc định của mỗi hàng */
}
  
  .boxex {
	margin:10px;
	border: 1px solid black;
	text-align: center;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
	overflow: hidden;
  }

  .content .bottom{
	height: 320px;
	margin-top: -150px;
	width: 100%;
	display: grid;
	grid-template-columns:1fr 1fr; /* Hai cột: cột 1 chiếm 2 phần, cột 2 chiếm 1 phần */
	grid-auto-rows: 600px ;/* Chiều cao mặc định của mỗi hàng */
}

.chart-box{
	height: 300px;
}

.table_view{
	border-collapse: collapse;
	width: 100%;
	margin-top:-10px;
	height: auto;
	max-height: 200px; /* Đặt chiều cao tối đa của table */
    overflow-y: auto;
}

.table_view tbody tr:hover {
    background-color: lightgrey;
}

.table_view tbody tr {
    height:30px;	
}

.table_view thead{
	background-color:grey;
	color:white;
}
.table_view tbody{
	border-collapse: collapse; /* Loại bỏ khoảng trống giữa các ô */
	max-height: 30px;
}


  

  
  
  